@font-face {
    font-family: 'Imperfect';
    src: url('../fonts/subset-Imperfect.woff2') format('woff2'),
        url('../fonts/subset-Imperfect.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans.woff2') format('woff2'),
        url('../fonts/subset-OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

