@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans.woff2') format('woff2'),
        url('subset-OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-Bold.woff2') format('woff2'),
        url('subset-OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

