@font-face {
    font-family: 'Imperfect Cyrillic';
    src: url('subset-Imperfect.woff2') format('woff2'),
        url('subset-Imperfect.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

