.features {
	padding: 40px 0 10px;
	background-color: #84d0da;

	@media (min-width: $xl) {
		padding: 60px 0 10px;
		background: url(../img/bg/bg-features.jpg) top center no-repeat;
	}

	h2 {
		margin-bottom: 15px;
		text-align: left;
	}

	.caption {
		margin-bottom: 48px;
		text-align: left;
	}

	.items {
		p,
		ul {
			padding-left: 68px;
			margin-bottom: 38px;

			&::before {
				top: 10px;
			}
		}
	}
}
