.steps {
	padding: 40px 0 10px;

	@media (min-width: $sm) {
		padding: 55px 0;
	}

	h2 {
		margin-bottom: 25px;
	}

	.caption {
		margin-bottom: 80px;
		line-height: 1.4;

		@media (max-width: 575px) {
			line-height: 1.4;
		}
	}

	.items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media (min-width: $xl) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.item {
		padding-top: 85px;
		margin-bottom: 50px;
		font-size: 16px;
		text-align: center;

		&::before {
			// icons
			top: -7px;
			left: 50%;
			transform: translateX(-50%);
		}

		&::after {
			// arrows
			display: none;
			left: auto;
			top: 50px;
			right: -14px;
			transform: none;
		}

		@media (min-width: $xl) {
			padding: 96px 0 14px 0;
			width: 210px;
			text-align: left;

			&::before {
				left: 0;
				transform: none;
			}

			&::after {
				// arrows
				display: block;
			}
		}

		a {
			font-weight: 700;
			color: $blue;
			text-decoration: underline;
		}
	}


	@media (min-width: $xl) {

		.item:nth-child(odd) {
			padding-top: 0;

			&::before {
				// icons
				top: 100%;
				left: 0;
				transform: none;
			}

			&::after {
				// arrows
				top: 78%;
			}
		}
	}
}
