.callback-footer {
	padding: 40px 0;
	color: #fff;
	background: url(../img/bg/bg-callback-footer.jpg) top center no-repeat;
	background-color: #674b36;

	@media (min-width: $sm) {
		padding: 45px 0 44px;
	}

	h2 {
		margin-bottom: 15px;
	}

	.caption {
		margin-bottom: 35px;

		span {
			font-size: 1.5rem;
		}
	}

	form {
		padding: 30px 15px;
		font-size: 1.125rem;
		color: $blk;
		background-color: $yellow;
		border-radius: 30px;

		@media (min-width: $md) {
			padding: 30px 48px;
			margin: 0 auto;
			width: 570px;
			height: 388px;
			background: url(../img/clouds/speechcloud-yellow-footer.png);
			background-size: cover;
		}

		p {
			margin-bottom: 18px;
			font-size: 1.125rem;
			text-align: center;
		}

		input {
			margin-bottom: 18px;
		}
	}
}
