.main-nav {
	background-color: $lblue;

	.navbar {
		padding: 6px;
		
		@media (min-width: $xl) {
			padding: 0;
		}
	}

	.navbar-toggler {
		position: relative;
		padding: 0;
		margin-bottom: 10px;
		width: 30px;
		height: 20px;
		border: none;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		border-radius: 0;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 3px;
			background-color: #fff;
		}

		&.collapsed {
			margin: 0;
		}
	}

	.navbar-nav {
		display: flex;
	}


	.nav-link {
		padding: 12px 0 !important;
		width: 195px;
		text-align: center;
		font-size: 1.375rem;
		color: #fff !important;
		
		&:hover {
			background-color: $blue;
		}
	}
}
